#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 12vmin);
    grid-template-rows: repeat(8, 12vmin);
}

#chessboard > .square {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#chessboard > .square.light {
    background: #b9a282;
}

#chessboard > .square.dark {
    background: #423727;
}

#chessboard > .square.highlighted {
    background: yellow;
}

.piece {
    display: block;
    width: 12vmin;
    height: 12vmin;
}

.move-circle{
    background-color: blue;
    display: block;
    height: 3vmin;
    width: 3vmin;
    border-radius: 50%;
    border: 2px solid #000;
}